<div class="container">
    <form (ngSubmit)="updatePharmacist()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control"   name="name" [(ngModel)]="pharmacist.name">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control"   name="email" [(ngModel)]="pharmacist.email">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input type="password" class="form-control"   name="password" [(ngModel)]="pharmacist.password">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Role</label>
            <input type="text" class="form-control"   name="role" [(ngModel)]="pharmacist.role">
            
        </div>

       
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
