<div class="category-section">
  <h6>Search Category</h6>

  <!-- Dropdown to select category -->
  <select (change)="filterByCategory($event)">
    <option value="">All Categories</option>
    <!-- Populate categories dynamically -->
    <option *ngFor="let c of categories" [value]="c.categoryname">{{ c.categoryname }}</option>
  </select>
</div>

<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="'http://localhost:8087/images/product/' + product.photo" class="card-img-top my-1"
      alt="{{ product.name }}">
    <h4>{{ product.name }}</h4>
    <p *ngFor="let category of product.categories">Category: {{ category.categoryname }}</p>
    <!-- Display each category name -->
    <!-- <img [src]="product.photo" alt="{{ product.name }}" /> -->
    <p>Unit Price: {{ product.unitprice | currency }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Stock: {{ product.stock }}</p>
    <ng-container *ngIf="userRole === 'Admin'">
      <button (click)="updateProduct(product.id)" class="btn btn-primary">
        <fa-icon [icon]="faEdit"></fa-icon> Edit
      </button>
      <button (click)="deleteProduct(product.id)" class="btn btn-danger">
        <fa-icon [icon]="faTrash"></fa-icon> Delete
      </button>
    </ng-container>
  </div>
</div>